body {
  background-color: #051336;
  font-family: Consolas, "Courier New", monospace;
  color: #fff;
}
h1 {
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 20px;
}
h2 {
  font-weight: 700;
  font-size: 3rem;
}
h2::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  margin-right: -100%;
  border-bottom: 1px solid rgb(25, 255, 128);
  max-width: 50%;
  vertical-align: middle;
  margin-left: 20px;
  opacity: 0.25;
}
h3 {
  margin: 25px 0 10px;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}
.bg-dark {
  background-color: #051336 !important;
}
.container {
  max-width: 1094px;
}

section {
  padding: 150px 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(25, 255, 128);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  font-weight: 700;
  color: rgb(25, 255, 128);
}

.side {
  float: left;
  position: fixed;
  margin-top: 175px;
  color: rgb(25, 255, 128);
}
.side ul {
  list-style-type: none;
}
.side li {
  margin-bottom: 40px;
}
a.navbar-brand {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5em;
}
.card, .card-header {
  background: none;
  border: none;
}
.btn.btn-link {
	color: rgb(25, 255, 128);
}
.btn.focus, .btn:focus {
	box-shadow: 0 0 0 .2rem rgba(25, 255, 128,.25);
}
ul#social {
	list-style-type: none;
	padding: 0;
}
#social li {
	display: inline-block;
	padding-right: 26px;
}
#social a {
	color: rgb(25, 255, 128);
}