body {
  background-color: #051336;
  font-family: Consolas, "Courier New", monospace;
  color: #fff;
}
h2 {
  margin: 25px 0 10px;
}
.bg-dark {
  background-color: #051336 !important;
}
.container {
  max-width: 1094px;
}

section {
  padding: 150px 0;
}
